body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.table tr td[colspan="2"] {
    border-bottom: 2px solid #9D9D9D;
    font-weight: bold;
}

span.detail_text {
    color: #848484;
    /*font-weight: lighter;*/
    font-size: 0.8em 
}
